.header {
  border-bottom: 1px solid var(--border-color);
  background-color: var(--background-footer);
  padding: 24px 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-text);
  text-decoration: none;
  font-family: inherit;
}

.logoText2 {
  color: var(--secondary-text);
}

.nav {
  display: flex;
  gap: 32px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.link {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-text);
  text-decoration: none;
  transition: color 0.2s ease;
}

.link:hover, .active {
  color: var(--brand-color);
}
